@page "/"

<label for="size">Field size:</label>
<input id="size" type="number" @bind-value=@_fieldSize @bind-value:event="onchange"/>

<Battlefield Size=_fieldSize></Battlefield>

@code{
    private int _fieldSize = 10;
}