@page "/"

@inject IJSRuntime JsRuntime

<div class="container centered-form">
    <div class="text-center mb-3">
        
        <HeaderComponent></HeaderComponent>
        
        <GameBoard FieldSize=Player.FieldSize CellClicked=FieldCellClicked
                   Field=_field EnemyField=_enemyField
                   GameStarted=IsStarted CurrentState=CurrentState></GameBoard>

        @if (!IsStarted)
        {
            @if (!WaitingOpponent)
            {
                <div class="button-container">
                    <button class="btn btn-danger" disabled="@ClearButtonDisable" @onclick=ClearButtonClicked>Clear</button>
                    <button class="btn btn-success" disabled="@(!FleetComplete)" @onclick=OnReadyButtonClick>Ready</button>
                </div>
            }
            else
            {
                <h3>Waiting for an opponent</h3>
            }
        }
    </div>
</div>

