@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using SeaBattle.Client.Services;
@using SeaBattle.Shared.Hub;

@inject IJSRuntime JsRuntime
@inject ILocalStorageService Storage

<div class="container centered-form">
    @if (PlayerState is null)
    {
        <LoginComponent OnJoinButtonClick="JoinButtonClicked" />
    }
    else
    {
        <div class="alert alert-info">
            <b>@PlayerState.Name</b> is in the game <i>@PlayerState.TableId</i>
        </div>
    }

    <div class="text-center mt-3">
        @if (!string.IsNullOrEmpty(_infoMessage))
        {
            <label class="alert @_infoMessageClass">@_infoMessage</label>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public HubConnection BattleHub { get; set; } = default!;

    [CascadingParameter]
    public PlayerState PlayerState { get; set; } = default!;

    private string? _infoMessage = null;
    private string _infoMessageClass = "alert-success";

    public async Task JoinButtonClicked(string userName)
    {
        await BattleHub?.SendAsync(nameof(IGameHub.JoinGame), Guid.Empty, userName)!;
    }
}