@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using SeaBattle.Client.Services;

@inject IJSRuntime JsRuntime
@inject ILocalStorageService Storage

<div class="container centered-form">
    <LoginComponent OnJoinButtonClick="JoinButtonClicked" />

    <div class="text-center mt-3">
        @if (!string.IsNullOrEmpty(_infoMessage))
        {
            <label class="alert @_infoMessageClass">@_infoMessage</label>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public HubConnection BattleHub { get; set; }

    private string? _infoMessage = null;
    private string _infoMessageClass = "alert-success";

    public async Task JoinButtonClicked(string userName)
    {
        BattleHub?.On<string, string, bool>("JoinedTable", (userName, tableId, newTable) =>
        {
            var action = newTable ? "created" : "joined";
            var msg = $"{userName} {action} table {tableId}";

            _infoMessage = msg;

            Storage.SetItemAsync("table", tableId);
            Storage.SetItemAsync("user", userName);
            InvokeAsync(StateHasChanged);
        });

        await BattleHub?.SendAsync("JoinGroup", userName)!;
    }
}