@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using SeaBattle.Client.Services;

@inject IJSRuntime JsRuntime
@inject ILocalStorageService Storage

<div class="container centered-form">
    @if (PlayerState is null)
    {
        <LoginComponent OnJoinButtonClick="JoinButtonClicked" />
    }

    <div class="text-center mt-3">
        @if (!string.IsNullOrEmpty(_infoMessage))
        {
            <label class="alert @_infoMessageClass">@_infoMessage</label>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public HubConnection BattleHub { get; set; } = default!;

    [CascadingParameter]
    public PlayerState PlayerState { get; set; } = default!;

    private string? _infoMessage = null;
    private string _infoMessageClass = "alert-success";

    // protected override Task OnInitializedAsync()
    // {
    //     if (PlayerState.IsLoggedIn)
    //     {
    //         _infoMessage = $"You are logged in as {PlayerState.Name}. And Table ID is {PlayerState.TableId}";
    //         _infoMessageClass = "alert-info";
    //     }

    //     return base.OnInitializedAsync();
    // }

    public async Task JoinButtonClicked(string userName)
    {
        BattleHub?.On<string, string, bool>("JoinedTable", (userName, tableId, newTable) =>
        {
            var action = newTable ? "created" : "joined";
            var msg = $"{userName} {action} table {tableId}";

            _infoMessage = msg;

            Storage.SetItemAsync("table", tableId);
            Storage.SetItemAsync("user", userName);

            InvokeAsync(StateHasChanged);
        });

        await BattleHub?.SendAsync("JoinGroup", userName)!;
    }
}