@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using SeaBattle.Client.Services;
@using SeaBattle.Shared.Hub;

@inject IJSRuntime JsRuntime
@inject ILocalStorageService Storage

<div class="container centered-form">
    @if (PlayerState is null)
    {
        <LoginComponent OnJoinButtonClick="JoinButtonClicked" />
    }
    else
    {
        <div class="text-center mb-3">
            <lable class="mb-5">
                <b>@PlayerState.Name</b>
            </lable>
            <br/>
            <label>Welcome to the Sea Battle</label>

            <div class="text-center mb-1">
                Now postion your ships and press <b>Ready</b> button
            </div>
            <Battlefield></Battlefield>
            <button class="btn btn-success mt-3">READY</button>
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public HubConnection BattleHub { get; set; } = default!;

    [CascadingParameter]
    public PlayerState PlayerState { get; set; } = default!;

    // private string? _infoMessage = null;
    // private string _infoMessageClass = "alert-success";

    public async Task JoinButtonClicked(string userName)
    {
        await BattleHub?.SendAsync(nameof(IGameHub.JoinGame), Guid.Empty, userName)!;
    }
}