@page "/sign-in"
@using Microsoft.AspNetCore.SignalR.Client
@using SeaBattle.Shared.Hub

<div class="container centered-form">
    <LoginComponent OnJoinButtonClick="JoinButtonClicked" />
</div>

@code {
    [CascadingParameter]
    public HubConnection BattleHub { get; set; } = default!;

    private async Task JoinButtonClicked(string userName)
    {
        await BattleHub?.SendAsync(nameof(IGameHub.JoinGame), Guid.Empty, userName)!;
    }
}