/* Center the form vertically and horizontally */
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

/* Increase the font size and use "Roboto" */
.text-center label {
    font-size: 20px;
    color: darkslategrey;
    font-family: 'Allerta Stencil', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    font-size: 24px;
    font-family: 'Allerta Stencil', sans-serif;
}

.button-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.field-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.hover-disabled {
    pointer-events: none;
}

.win {
    color: green;
}

.lost {
    color: orangered;
}
