<div class="container">
    <table>
        @for (int i = 0; i < FieldSize; i++)
        {
            <tr>
                @for (int j = 0; j < FieldSize; j++)
                {
                    <td>
                        <SeaCell X=i Y=j Clicked=CellClicked State="Field[i * 10 + j]"></SeaCell>
                    </td>
                }
            </tr>
        }
    </table>
</div>

@code {

    [CascadingParameter]
    public PlayerState PlayerState { get; set; } = default!;

    [Parameter]
    public CellState[] Field { get; set; } = default!;

    [Parameter]
    public int FieldSize { get; set; }

    [Parameter]
    public EventCallback<(int,int)> CellClicked { get; set; }
}