<div class="container">
    <table>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                @for (int j = 0; j < 10; j++)
                {
                    <th>
                        <SeaCell X=i Y=j Clicked=CellClicked></SeaCell>
                    </th>
                }
            </tr>
        }
    </table>
</div>

@code {

    [CascadingParameter]
    public PlayerState PlayerState { get; set; } = default!;

    [Parameter]
    public EventCallback<(int, int)> OnCellClick { get; set; }

    public void CellClicked((int x, int y) cell)
    {
        OnCellClick.InvokeAsync(cell);
    }
}