<div class="container @StateClass">
    <table>
        @for (var i = 0; i < FieldSize; i++)
        {
            <tr>
                @for (var j = 0; j < FieldSize; j++)
                {
                    <td>
                        <SeaCell X=i Y=j Clicked=CellClicked State="Field[i * 10 + j]"></SeaCell>
                    </td>
                }
            </tr>
        }
    </table>
</div>

@code {
    [Parameter]
    public CellState[] Field { get; set; } = null!;

    [Parameter]
    public int FieldSize { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback<(int,int)> CellClicked { get; set; }

    private string StateClass => Disabled ? "hover-disabled" : "";
}