<h3>Battlefield size: @Size</h3>

@for(int i = 0; i < Size; i++)
{
    <tr>
        @for (int j = 0; j < Size; j++)
        {
            <th>
                <SeaCell X=i Y=j Clicked=CellClicked></SeaCell>
            </th>
        }
    </tr>
}

@code {
    [Parameter]
    public int Size { get; set; } = 10;

    [Parameter]
    public EventCallback<(int, int)> OnCellClick { get; set; }

    public void CellClicked((int x, int y) cell)
    {
        OnCellClick.InvokeAsync(cell);
    }
}