<div class="container @Disabled">
    <table>
        @for (int i = 0; i < FieldSize; i++)
        {
            <tr>
                @for (int j = 0; j < FieldSize; j++)
                {
                    <td>
                        <SeaCell X=i Y=j Clicked=CellClicked State="Field[i * 10 + j]" CssClass="@Disabled"></SeaCell>
                    </td>
                }
            </tr>
        }
    </table>
</div>

@code {
    [Parameter]
    public CellState[] Field { get; set; } = default!;

    [Parameter]
    public int FieldSize { get; set; }

    [Parameter]
    public EventCallback<(int,int)> CellClicked { get; set; }

    // private string Disabled => PlayerState.InProgress ? "hover-disabled" : "";
    private string Disabled => "";
}