<div class="field-container">
    <div class="own-field-wrapper">
        <Battlefield Field=@Field FieldSize=GameState.FieldSize CellClicked=@OnCellClicked Disabled="OwnFieldDisabled" EnableTargeting="false"/>
        <WaitingOverlay IsVisible="@IsWaitingForOpponentInSetup" 
                      Message="@GetSetupWaitingMessage()" />
    </div>

    @if (GameState.Stage == GameStageEnum.Game)
    {
        <div class="enemy-field-wrapper">
            <Battlefield Field=@EnemyField FieldSize=GameState.FieldSize CellClicked=@OnCellClicked Disabled="EnemyFieldDisabled" EnableTargeting="true" />
            <WaitingOverlay IsVisible="@IsWaitingForOpponent" 
                          Message="@GetWaitingMessage()" />
        </div>
    }
</div>