<div class="field-container">
    <Battlefield Field=@Field FieldSize=@FieldSize CellClicked=@OnCellClicked Disabled="OwnFieldDisabled"/>
    @if (GameStarted)
    {
        <Battlefield Field=@EnemyField FieldSize=@FieldSize CellClicked=@OnCellClicked Disabled="EnemyFieldDisabled"/>
    }
</div>