<div class="field-container">
    <Battlefield Field=@Field FieldSize=GameState.FieldSize CellClicked=@OnCellClicked Disabled="OwnFieldDisabled"/>

    @if (GameState.Stage == GameStageEnum.Game)
    {
        <Battlefield Field=@EnemyField FieldSize=GameState.FieldSize CellClicked=@OnCellClicked Disabled="EnemyFieldDisabled" />
    }
</div>