<div class="field-container">
    <div class="@OwnFieldState">
        <Battlefield Field=@Field FieldSize=@FieldSize CellClicked=@OnCellClicked />
    </div>
    @if (GameStarted)
    {
        <div class="@EnemyFieldState">
            <Battlefield Field=@EnemyField FieldSize=@FieldSize CellClicked=@OnCellClicked />
        </div>
    }
</div>