<div class="field-container">
    <Battlefield Field=@Field FieldSize=GameState.FieldSize CellClicked=@OnCellClicked Disabled="OwnFieldDisabled"/>

    @if (GameState.Stage == GameStageEnum.Game)
    {
        <div class="enemy-field-wrapper">
            <Battlefield Field=@EnemyField FieldSize=GameState.FieldSize CellClicked=@OnCellClicked Disabled="EnemyFieldDisabled" />
            <WaitingOverlay IsVisible="@IsWaitingForOpponent" 
                          Message="@GetWaitingMessage()" />
        </div>
    }
</div>