@using Microsoft.AspNetCore.SignalR.Client;
@inject IJSRuntime JsRuntime

<div class="container centered-form">
    <div class="text-center">
        <div class="form-group mb-4">
            <input type="text" class="form-control" id="inputField" @bind="_userName" placeholder="Enter your name">
        </div>
        <button type="submit" class="btn btn-primary btn-block" @onclick="JoinButtonClicked">Join Game</button>
    </div>
    <div class="text-center">
        <label class="mt-3">@_infoMessage</label>
    </div>
</div>

@code {
    private string? _userName = null;
    private string? _infoMessage = null;

    [CascadingParameter]
    public HubConnection BattleHub { get; set; }

    public async Task JoinButtonClicked()
    {
        if (string.IsNullOrEmpty(_userName))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Please enter user name!");
        }
        else
        {
            BattleHub?.On<string, string, bool>("JoinedTable", (userName, tableName, newTable) =>
            {
                var action = newTable ? "created" : "joined";
                var msg = $"{userName} {action} table {tableName}";

                _infoMessage = msg;


                InvokeAsync(StateHasChanged);
            });

            await BattleHub?.SendAsync("JoinGroup", _userName)!;
        }
    }
}
