@inject IJSRuntime JsRuntime

<div class="text-center">
    <div class="form-group mb-4">
        <input type="text" class="form-control" id="inputField" @bind="_userName" @bind:event="oninput" placeholder="Enter your name">
    </div>
    <button type="submit" class="btn btn-primary btn-block" disabled="@JoinButtonDisabled" @onclick="JoinButtonClicked">Join Game</button>
</div>

@code {
    private string? _userName = null;

    [Parameter]
    public EventCallback<string> OnJoinButtonClick { get; set; }

    private bool JoinButtonDisabled => string.IsNullOrEmpty(_userName);

    public void JoinButtonClicked()
    {
        OnJoinButtonClick.InvokeAsync(_userName);
    }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}
