<div class="@CssClass" disabled="true" @onmousedown=CellClick>

</div>

@code {
    [Parameter, EditorRequired]
    public int X { get; set; }

    [Parameter, EditorRequired]
    public int Y { get; set; }

    [Parameter]
    public EventCallback<(int, int)> Clicked { get; set; }

    [Parameter]
    public CellState State { get; set; } = CellState.empty;

    public string CssClass => $"sea-cell {CssState}";

    private string CssState => State.ToString();

    private async void CellClick()
    {
        await Clicked.InvokeAsync((X, Y));
    }
}