.sea-cell {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 1px solid black;
}

.sea-cell:hover {
    background-color: darkorange;
}

.sea-cell.hit {
    background-color: darkred;
}

.sea-cell.miss {
    background-color: steelblue;
}

.sea-cell.ship {
    background-color: black;
}

    .sea-cell.ship:hover {
        background-color: brown;
    }