@using Microsoft.AspNetCore.SignalR.Client;
@using SeaBattle.Client.Services
@using SeaBattle.Shared.Hub;
@using SeaBattle.Shared.Player

@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

@implements IAsyncDisposable

<CascadingValue Value="BattleHub" IsFixed>
    @if (_initialized)
    {
        <main>
            @Body
        </main>
    }
</CascadingValue>
